.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item:hover a {
    text-decoration: underline;
}

.popup {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 1000%; /* Adjust as needed */
    height: 100%;
    display: none; /* Hide popup by default */
}

.nav-item:hover .popup {
    display: block; /* Show popup on hover */
}

.all-image-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.row-icon {
    display: flex;
    justify-content: space-around;
}

.popup-image {
    width: 100px;
    height: 128px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, .05);
    background: rgba(8, 8, 8, .2);
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
}
